:host {
  display: block;
}

mat-card {
  margin: 20px auto 0;
  max-width: 500px;

  mat-card-header {
    border-bottom: 1px solid rgba(96, 96, 96, 0.307);
  }

  mat-card-content {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .answer {
      background-color: rgba(95, 95, 95, 0.1);
      border-radius: 15px;
      padding: 5px 10px;

      &.correct {
        background-color: aquamarine !important; 
      }

      &.answered {
        background-color: #97b8ff5c;
      }
      
    }
  }

  mat-card-footer {
    display: flex;
    justify-content: space-between;
  }
}

