:host {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.progress {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  .point {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgba(95, 95, 95, 0.1);

    &.answered {
      background-color: #97b8ff68;
      &.active {
        background-color: #97b8ff83;
      }
    }

    &.active {
      transform: scale(1.5);
    }

    &.correct {
      background-color: aquamarine !important;
    }
  }
}


mat-card {
  margin: 20px auto 0;

  mat-card-header {
    border-bottom: 1px solid rgba(96, 96, 96, 0.307);

    mat-card-subtitle {
      img {
        height: 100px;
        width: auto;
      }
    }
  }

  mat-card-content mat-radio-group{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .answer {
      background-color: rgba(95, 95, 95, 0.1);
      border-radius: 15px;

      &.correct {
        background-color: aquamarine !important;
      }

      &.selected {
        background-color: #97b8ff68;
      }

      @media(hover: hover) and (pointer: fine) {
        &:hover {
          background-color: #97b8ff83;
        }
      }

      ::ng-deep .mdc-radio {
        display: none;
      }

      ::ng-deep mat-radio-button {
        cursor: pointer;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 5px;

        * {
          cursor: pointer;
          width: 100%;
          height: 100%;
          user-select: none
        }
      }
    }
  }

  mat-card-footer {
    display: flex;
    justify-content: center;
  }
}

.questions-wrapper {
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;

  .rerun {
    margin: 20px auto;
  }

  .result {
    font-size: 5rem;
    line-height: 5rem;
    margin: auto;
  }
}
